.menu-container {
    background: #1f2937;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.links {
    color: #F9FAF8;
    border: 1px solid red;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.hero-container {
    background: #1f2937;
    padding: 40px 0;
}

.hero {
    border: 1px solid #F9FAF8;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-section,
.hero-image {
    border: 1px solid whitesmoke;
}

.text-heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.text-sub {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 6px 20px;
    align-self: flex-start;
}

.sign-up-section {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-image {
    width: 15rem;
}

