.menu-container {
    background: #1f2937;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.links {
    color: #F9FAF8;
    border: 1px solid red;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.hero-container {
    background: #1f2937;
    padding: 40px 0;
}

.hero {
    border: 1px solid #F9FAF8;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-section,
.hero-image {
    border: 1px solid whitesmoke;
}

.text-heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



